.container {
  width: 30%;
  height: min-content;
  padding: 2.5rem 1rem;
  color: var(--text-primary);
  background-color: var(--background);
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  box-shadow: 0px 0px 10px var(--border);
  border-radius: 10px;
}

.container.open {
  width: 30%;
  height: min-content;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.container h1 {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
  color: var(--accent-primary);
  border-bottom: 1.5px solid var(--accent-secondary);
}

.container p {
  font-size: 0.9rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  padding: 1rem 0.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 0.8rem;
}

input {
  text-align: center;
  width: 100%;
  outline: none;
  box-shadow: none;
  padding: 0.2rem;
  border: none;
  border-radius: 0px;
  font-size: 1rem;
  background-color: var(--background);
  color: var(--text-primary);
  border: 2px solid var(--accent-secondary);
  border-radius: 10px;
}

.error {
  /* border-bottom: 1px solid red; */
  border: 2px solid red;
}

form button {
  color: var(--text-secondary);
  background-color: var(--accent-primary);
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 auto;
  width: 40%;
}

@media (max-width: 1265px) {
  .container h1 {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 974px) {
  .container {
    width: 60%;
    height: 55%;
    padding: 1rem 0.5rem;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    box-shadow: 0px 0px 10px var(--border);
  }

  .container.open {
    width: 60%;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out;
  }

  .container h1 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 1.2rem;
    padding: 1rem 0.5rem;
  }

  input {
    padding: 0.2rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 624px) {
  .container {
    width: 80%;
    height: 50%;
    padding: 1.5rem 1rem;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .container.open {
    width: 80%;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out;
  }

  .container h1 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  form label {
    font-size: 0.7rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 1rem;
    padding: 0.5rem 0.5rem;
  }

  input {
    padding: 0.2rem;
    font-size: 0.8rem;
  }

  form button {
    font-size: 0.7rem;
    padding: 0.4rem 2rem;
  }
}

@media (max-width: 380px) {
  .container {
    width: 80%;
    height: 50%;
    padding: 1.5rem 1rem;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .container.open {
    width: 90%;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out;
  }

  .container h1 {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
  }

  form label {
    font-size: 0.7rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 1rem;
    padding: 0.5rem 0.5rem;
  }

  input {
    padding: 0.2rem;
    font-size: 0.8rem;
  }

  form button {
    font-size: 0.7rem;
    padding: 0.4rem 1rem;
  }
}
