.main-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 695px;
  padding: 1rem;
}

.hidden {
  position: absolute;
  top: -1rem;
  right: 0rem;
  opacity: 0;
  width: 30rem;
  transform: translateY(-20px);
  transition: all 0.5s;
}

.hero-line {
  width: 23rem;
  position: absolute;
  top: -3rem;
  right: 26rem;
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s;
  transform: rotate(230deg);
}

.hero-img {
  width: 30rem;
  position: absolute;
  top: -1rem;
  right: 0rem;
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s;
}

.content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  transform: translateX(50px);
  transition: transform 0.7s ease-in-out;
  padding: 1rem;
}

.slide {
  transform: translateX(0px);
}

.content h1 {
  font-size: 4rem;
  font-weight: 800;
  border-bottom: 1px solid var(--accent-secondary);
}

.content h1 span {
  color: var(--accent-primary);
}

.content p {
  line-height: 1.7;
  font-size: 1.1rem;
  font-weight: 600;
}

.button-container {
  display: flex;
  justify-content: start;
  gap: 2rem;
}

button:hover {
  cursor: pointer;
}

.primary-button {
  color: var(--text-secondary);
  background-color: var(--accent-primary);
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  border: none;
}

.secondary-button {
  color: var(--text-secondary);
  background-color: var(--accent-secondary);
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  border: none;
}

@media (max-width: 1338px) {
  .content h1 {
    font-size: 3.5rem;
    font-weight: 800;
    border-bottom: 1px solid var(--accent-secondary);
  }

  .hidden {
    position: absolute;
    top: -1rem;
    right: 0rem;
    opacity: 0;
    width: 23rem;
    transform: translateY(-20px);
    transition: all 0.5s;
  }

  .hero-line {
    width: 21rem;
    position: absolute;
    top: -3rem;
    right: 21rem;
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s;
    transform: rotate(230deg);
  }

  .content {
    width: 55%;
    gap: 1.5rem;
  }

  .hero-img {
    width: 28rem;
    position: absolute;
    top: 0rem;
    right: 0rem;
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s;
  }
}

@media (max-width: 1255px) {
  .main-container {
    gap: 0rem;
  }

  .content h1 {
    font-size: 2.8rem;
  }

  .content p {
    font-size: 0.9rem;
  }

  .button-container {
    gap: 1rem;
  }

  .content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5rem;
    transform: translateX(50px);
    transition: transform 0.8s ease-in-out;
  }

  .slide {
    transform: translateX(0px);
  }
}

@media (max-width: 1032px) {
  .hero-img {
    width: 22rem;
    position: absolute;
    top: -1rem;
    right: -2rem;
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s;
  }
}

@media (max-width: 976px) {
  .main-container {
    min-height: 100vh;
    flex-direction: column;
    gap: 10rem;
    justify-content: flex-start;
    align-items: center;
  }
  .hero-line {
    width: 25rem;
    position: absolute;
    top: 15rem;
    right: 20rem;
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s;
    transform: rotate(-230deg);
    opacity: 0.2;
  }

  .hidden {
    position: absolute;
    top: auto;
    bottom: -18rem;
    right: 15rem;
    top: 35%;
    width: 30rem;
    transform: translateY(-20px);
    transition: all 1s;
  }

  .hero-img {
    position: absolute;
    top: auto;
    top: 35%;
    right: 15rem;
    width: 30rem;
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s;
  }

  .content h1 {
    font-size: 2.8rem;
  }

  .content {
    width: 85%;
    align-items: center;
    gap: 1.5rem;
    transform: translateY(150px);
    transition: transform 0.8s ease-in-out;
  }

  .slide {
    transform: translateY(20px);
  }

  .content p {
    text-align: center;
  }
}

@media (max-width: 796px) {
  .hero-line {
    width: 25rem;
    position: absolute;
    top: 14rem;
    right: 15rem;
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s;
    transform: rotate(-220deg);
    opacity: 0.2;
  }
}

@media (max-width: 708px) {
  .content {
    width: 90%;
    gap: 1.5rem;
    transition: transform 0.8s ease-in-out;
  }

  .hidden {
    position: absolute;
    top: auto;
    top: 35%;
    right: 2rem;
    width: 30rem;
    transform: translateY(-20px);
    transition: all 1s;
  }

  .hero-line {
    width: 23rem;
    position: absolute;
    top: 15rem;
    right: 8rem;
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s;
    transform: rotate(-230deg);
    opacity: 0.2;
  }

  .hero-img {
    position: absolute;
    top: 35%;
    right: 2rem;
    width: 30rem;
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s;
  }

  .content h1 {
    font-size: 2.6rem;
  }

  .content p {
    font-size: 0.9rem;
  }
}

@media (max-width: 558px) {
  .hero-line {
    width: 20rem;
    position: absolute;
    top: 15rem;
    right: 8rem;
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s;
    transform: rotate(-230deg);
    opacity: 0.2;
  }
}

@media (max-width: 610px) {
  .content {
    width: 95%;
    gap: 1.5rem;
    transition: transform 0.8s ease-in-out;
  }

  .content h1 {
    font-size: 2.2rem;
  }

  .content p {
    font-size: 0.8rem;
  }

  .primary-button {
    color: var(--text-secondary);
    background-color: var(--accent-primary);
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
  }

  .secondary-button {
    color: var(--text-secondary);
    background-color: var(--accent-secondary);
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
  }
}

@media (max-width: 490px) {
  .main-container {
    min-height: 100vh;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
  }
  .content {
    width: 100%;
    gap: 1.5rem;
    transform: translateY(50px);

    transition: transform 0.8s ease-in-out;
  }
  .slide {
    transform: translateY(-30px);
  }
  .content h1 {
    font-size: 3rem;
    text-align: center;
  }

  .content p {
    font-size: 0.7rem;
  }
}

@media (max-width: 407px) {
  .content {
    transition: transform 0.8s ease-in-out;
  }

  .hidden {
    position: absolute;
    top: auto;
    top: 35%;
    right: 2rem;
    width: 30rem;
    transform: translateY(-20px);
    transition: all 1s;
  }

  .hero-line {
    width: 16rem;
    position: absolute;
    top: 11rem;
    right: 3rem;
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s;
    transform: rotate(-20deg);
    opacity: 0.2;
  }

  .hero-img {
    position: absolute;
    top: 35%;
    right: 0rem;
    width: 26rem;
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s;
  }

  .content h1 {
    font-size: 2.5rem;
  }

  .primary-button {
    font-size: 0.7rem;
    padding: 0.4rem 0.8rem;
  }

  .secondary-button {
    font-size: 0.7rem;
    padding: 0.4rem 0.8rem;
  }
}

@media (max-width: 321px) {
  .content p {
    font-size: 0.5rem;
  }

  .primary-button {
    font-size: 0.7rem;
    padding: 0.4rem 0.8rem;
  }

  .secondary-button {
    font-size: 0.7rem;
    padding: 0.4rem 0.8rem;
  }
}
