:root {
  --background: #eaeaea;
  --text-primary: #343a40;
  --text-secondary: #f8f9fa;
  --accent-primary: #dd6e42;
  --accent-secondary: #4f6d7a;
  --border: #e8dab2;
  --form-bg: #4f6d7a;
}
/* 
:root {
    
    --background: #4F6D7A;
    --text-primary: #F8F9FA;
    --text-secondary: #EAEAEA;
    --accent-primary: #DD6E42;
    --accent-secondary: #4F6D7A;
    --border: #E8DAB2;
    --form-bg:#4F6D7A;
  

} */

[data-theme="dark"] {
  --background: #212529;
  --text-primary: #eaeaea;
  --text-secondary: #ced4da;
  --accent-primary: #dd6e42;
  --accent-secondary: #343a40;
  --border: #dd6e42;
  --form-bg: #343a40;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  /* border: 15px solid var(--accent-primary);
  border-bottom: none; */
}

.app {
  /* height: 100vh; */
  background-color: var(--background);
  color: var(--text-primary);
  font-size: 0.8rem;
}
